.inputFile {
  position: relative;
  max-width: 260.7px;
  height: 100.5px;
  width: 100%;
  margin: 11.5px 0 0;
  padding: 21.3px 0.2px 24.3px 0;
  border-radius: 5px;
  border: dashed 3px #ccced9;
  background-color: #e2f2ff;
  padding: 10px;
  margin: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
// .inputFileText {
//   padding: 0 10px;
//   line-height: 40px;
//   text-align: left;
//   height: 40px;
//   display: block;
//   float: left;
//   box-sizing: border-box;
//   width: 200px;
//   border-radius: 6px 0px 0 6px;
//   border: 1px solid #ddd;
//   overflow: hidden;
// }
.inputFileBtn {
  color: #6c7080;
  font-size: 14px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.inputFile input[type=file] {
  position: absolute;
  z-index: -1;
  opacity: 0;
  display: block;
  width: 0;
  height: 0;
}

/* Focus */
.inputFile input[type=file]:focus + .inputFileBtn {
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

// /* Hover/active */
// .inputFile:hover .inputFileBtn {
//   background-color: rgba(83, 103, 254, 1);
// }
// .inputFile:active .inputFileBtn {
//   background-color: rgba(83, 103, 254, 1);
// }

/* Disabled */
.inputFile input[type=file]:disabled + .inputFileBtn {
  background-color: #eee;
}