.light.walletItem {
  box-shadow: 0 0 10px 0 rgb(0, 0, 0, .3);
  margin: 20px 0;
  padding: 20px;
  border-radius: 5px;
  color: #121318;
  transition: all 0.2s linear;
  &:hover {
    transform: scale(1.008);
    transition: all 0.2s linear;
  }
}

.dark.walletItem {
  box-shadow: 0 0 10px 0 rgb(255, 255, 255, .3);
  margin: 20px 0;
  padding: 20px;
  border-radius: 5px;
  color: #fff;
}