.light.walletItem {
  padding: 10px 0;
  border-radius: 5px;
  color: #121318;
  transition: all 0.2s linear;
  &:hover {
    transform: scale(1.008);
    transition: all 0.2s linear;
  }
}

.dark.walletItem {
  padding: 10px 0;
  border-radius: 5px;
  color: #fff;
}