.default {
  background-color: lightblue;
  border: none;
  border-radius: 5px;
  padding: 5px 5px;
  color: #fff;
  transition: all .2s linear;
  max-width: 200px;
  width: 100%;
  font-size: 14px;
  min-height: 46px;
  &:hover {
    transition: all .2s linear;
    filter: opacity(80%)
  }
}
.red {
  background-color: tomato;
}
.green {
  background-color: lightgreen;
}
.blue {
  background-color: lightblue;
}
.orange {
  background-color: orange;
  color: #fff;
}
.xs {
  padding: 5px 10px;
  font-size: 14px;
  min-height: 30px;
  max-width: 150px;
}