/*@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@400;700&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;700&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');*/

/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap'); */
/* @font-face {
  font-family: 'BrandonGrotesque-Regular';
  src: url('../fonts/BrandonGrotesque-Regular.woff2') format('woff2'),
       url('../fonts/BrandonGrotesque-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;

} */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
body {
  margin: 0;
  height: 100%;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
@media (max-width: 1024px) {
  body {
    -overflow-scrolling: touch;
  }
}
* {
  outline: none;
}
@media(max-width: 400px) {
  .container {
    padding: 0 5px !important;
  }
}
h1 {
  margin: 0 !important;
  font-family: 'BrandonGrotesque-Regular', sans-serif;
}
.container {
  overflow-y: auto;
  position: relative;
  max-width: 1480px;
}

.nav-pills {
  justify-content: center;
}

body *::-webkit-scrollbar {
  display: none;
}
.slick-arrow {
  z-index: 999;
  width: 30px;
}
.slick-list {margin: 0 -5px;}
.slick-slide {padding: 0 5px;}

.relative {
  position: relative;
}
@media (max-width: 680px) {
  .admin-black-card {
    padding: 5px;
  }
  .row {
    padding: 0;
  }
  .col {
    padding: 0;
  }
}

a {
  color: #fff;
  text-decoration: none;
}
a:hover {
  color: #524ad0;
}

html {
  height: 100%;
}
#root {
  height: 100%;
}
.bg-black {
  background-color: #000;
}
h1, h2, h3, h4 {
  margin: 0;
  font-family: 'BrandonGrotesque-Regular', sans-serif;
  color: #2b3144cc;
}
p {
  color: #2b3144cc;
}
@media (max-width: 1200px) {
  h1 {
    margin: 0 40px;
  }
}
#dark p {
  color: #fff;
}

.row {
  margin: 0;
}


.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

/* input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid #cecece !important;
  -webkit-text-fill-color: #7b7373 !important;
  background-color: #343a40 !important;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
} */

.nav-link.active {
  color: #0083f8 !important;
}


button.accordion-button.collapsed, .accordion-flush .accordion-item .accordion-button {
  background-color: #444 !important;
  color: #fff !important;
  outline: none !important;
}
.nav-tabs .nav-link.active {
  background-color: #444;
  color: #fff;
  border-color: #444;
}
.nav-tabs {
  border-bottom: 1px solid #444;
}
.nav-item button {
  color: #fff;
}

.tradingview-widget-copyright {
  font-size: 13px !important;
  line-height: 32px !important;
  text-align: center !important;
  vertical-align: middle !important;
  /* @mixin sf-pro-display-font; */
  font-family: -apple-system, BlinkMacSystemFont, 'Trebuchet MS', Roboto, Ubuntu, sans-serif !important;
  color: #9db2bd !important;
}

.tradingview-widget-copyright .blue-text {
  color: #2962FF !important;
}

.tradingview-widget-copyright a {
  text-decoration: none !important;
  color: #9db2bd !important;
}

.tradingview-widget-copyright a:visited {
  color: #9db2bd !important;
}

.tradingview-widget-copyright a:hover .blue-text {
  color: #1E53E5 !important;
}

.tradingview-widget-copyright a:active .blue-text {
  color: #1848CC !important;
}

.tradingview-widget-copyright a:visited .blue-text {
  color: #2962FF !important;
}

.dark .am5stock-control-button path {
  stroke: #fff !important;
}
.dark .am5stock-control-label {
  color: #fff !important;
}

.label-secure-deal span {
  color: tomato;
}
.label-secure-deal {
  font-size: 12px !important;
  color: #2b3144cc;
  margin-bottom: 5px;
}

.modal.show {
  opacity: 1;
  z-index: 9999999;
  padding-top: 2%;
  padding-left: 0px;
  display: block;
}


@media (max-width: 560px) {
  h2.market-overview {
    font-size: 18px;
    align-items: center;
  }
}