.bg_black {
  background-color: #000;
  position: relative;
}

.scrollable-table {
  overflow-x: auto;
  .row {
    min-width: 1200px;
  }
}

.small_scroll {
  @media (max-width: 500px) {
    overflow-x: auto;
    .row {
      min-width: 500px;
    }
  }
}