.wallet-block {
  color: #fff;
  border-radius: 10px;
  width: 100%;
  margin: 0 20px;
  box-sizing: border-box;
  padding: 10px !important;
  @media (max-width: 400px) {
    max-width: 250px;
  }
}

.up svg {
  color: lightgreen;
}

.down svg{
  color: tomato;
}

.dark {
  background-color: #121318;
  color: #fff;
}
.light {
  color: #121318;
  background-color: rgb(226, 242, 255);
  padding: 20px;
}