.wallet-block {
  color: #fff;
  padding: 12px;
  border-radius: 10px;
  width: 100%;
  max-width: 330px;
}

.up svg {
  color: lightgreen;
}

.down svg{
  color: tomato;
}

.dark {
  background-color: #121318;
  color: #fff;
}
.light {
  color: #121318;
  background-color: rgb(226, 242, 255);
}