.landing_wrap {
  flex: 1 0 100%;
  flex-direction: column;
}
.content_wrap {
  display: flex;
  flex-direction: column;
}

#light.landing_wrap {
  background-color: #fff;
  color: #121318;
}
#dark.landing_wrap {
  background-color: #121318;
  color: #fff;
}

.signup-today {
  font-family: Inter;
  font-size: 19px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  margin-bottom: 20px;
  letter-spacing: normal;
  text-align: left;
  color: #5367ff;
}
.landing-header {
  margin: 0 0 21px;
  font-family: Inter;
  font-size: 65px;
  font-stretch: normal;
  font-weight: bold;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  @media (max-width: 1400px) {
    font-size: 42px;
    line-height: 44px;
  }
  @media (max-width: 768px) {
    font-size: 32px;
    line-height: 34px;
  }
  &__colored {
    color: #5367ff;
  }
}

.star {
  position: absolute;
  top: 0;
  right: 0;
}
.elipseThree {
  position: absolute;
  left: 0;
  bottom: 30%;
}
.elipseOne {
  position: absolute;
  right: 20%;
  top: 20px;
  z-index: 9999;
}
.paralax-img {
  @media(max-width: 1024px) {
    display: none;
  }
}

.trusted-title {
  font-size: 28px;
  line-height: 42px;
  margin-bottom: 20px;
}
.trusted-text {
  font-size: 18px;
  line-height: 27px;
}
.buy-background-img {
  @media (max-width: 1500px) {
    display: none;
  }
}

.title-h3 {
  font-size: 36px;
  line-height: 54px;
  font-weight: bold;
  margin-bottom: 30px;
}

.text-gradient {
  background: linear-gradient(136.91deg, #468EF9 -12.5%, #0C66EE 107.5%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.text-group {
  margin-bottom: 20px;
  max-width: 500px;
}

.text-group-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  @media (max-width: 420px) {
    font-size: 16px;
    line-height: 22px;
    text-align: left;
  }
}
.text-group-paragraph {
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #9295A6;
  text-align: left;
  @media (max-width: 420px) {
    font-size: 14px;
    line-height: 20px;
    text-align: left;
  }
}
.dark .text-group-paragraph {
  color: #fff;
}
.starter-block {
  padding: 0 20px;
  margin-bottom: 20px;
}
.started-title {
  font-size: 25px;
  line-height: 38px;
  margin-bottom: 10px;
  margin-top: 10px;
  font-weight: bold;
}
.started-text {
  font-size: 17px;
  line-height: 26px;
  text-align: center;
  @media (max-width: 768px) {
    font-size: 14px;
  }
}

.landing-block-text-block {
  flex-shrink: 0;
  padding-top: 50px;
  @media (max-width: 1024px) {
    padding-top: 30px;
  }
  @media (max-width: 768px) {
    padding-top: 0;
  }
}

.best-service-block {
  width: 300px;
  height: 259px;
  border-radius: 10px;
  background: #fff;
  border: 1px solid #707070;
  margin-bottom: 30px;
  padding: 20px;
  text-align: left;
  &__header {
    font-size: 18px;
    letter-spacing: 0.02em;
    line-height: 23px;
    text-align: left;
    color: #232530;
    margin: 20px 0;
  }
}

#dark .best-service-block {
  background-color: #121318;
  border-color: #000;
}

.get-started-link {
  margin: 0 0 4px;
  font-size: 19px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.33;
  letter-spacing: normal;
  color: #5367ff;
  position: relative;
  display: flex;
  align-items: center;
  &__text {
    display: inline-block;
    position: relative;
    &::after {
      position: absolute;
      content: '';
      width: 100%;
      height: 1px;
      margin: 4px 0 0;
      border-radius: 0.5px;
      background-color: #5367ff;
      left: 0;
      bottom: 0;
      transition: all .2s linear;
    }
  }
  &:hover {
    cursor: pointer;
  }
}
.get-started-link:hover .get-started-link__text::after {
  width: 30%;
  transition: all .2s linear;
}

.Ellipse-27 {
  width: 247.5px;
  height: 240.5px;
  margin: 0 251px 76.5px 0;
  padding: 13px 28px 118.5px 64.5px;
  opacity: 0.2;
  -webkit-filter: blur(25px);
  filter: blur(25px);
  background-color: #0091ff;
  position: absolute;
  left: 10%;
  top: 30%;
}
.Ellipse-26 {
  width: 242.5px;
  height: 236.5px;
  margin: 32.5px 118px 42px 109.5px;
  opacity: 0.1;
  -webkit-filter: blur(25px);
  filter: blur(25px);
  background-color: #0083f8;
  position: absolute;
  right: 10%;
}

.easy-card {
  min-width: 165px;
  max-width: 285px;
  width: 100%;
  height: 145px;
  min-height: 96px;
  margin: 0 15px 19px 0;
  padding: 15px 10px 18px;
  border-radius: 5px;
  background-color: #fff;
  text-align: center;
  img {
    margin-bottom: 10px;
  }
  @media(max-width: 1590px) {
    max-width: 250px;
  }
  @media(max-width: 1447px) {
    max-width: 230px;
  }
  @media(max-width: 1370px) {
    max-width: 200px;
  }
  @media(max-width: 1370px) {
    max-width: 200px;
  }
  @media(min-width:1200px) and (max-width: 1369px) {
    max-width: 185px;
  }
  @media(max-width: 510px) {
    max-width: 280px;
  }
  p {
    margin: 7px 0 0;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: center;
    color: #6c7080;
    @media(max-width: 1370px) {
      font-size: 12px;
    }
  }
  div {
    @media(max-width: 1370px) {
      font-size: 14px;
    }
  }
}
.easy-row-two {
  margin-left: 10%;
  @media(max-width: 1580px) {
    margin-left: 0;
  }
}

.wrapped-row {
  @media(max-width: 1368px) {
    flex-wrap: wrap !important;
  }
}
.easy-card-row {
  justify-content: center;
}

#dark .easy-card {
  background-color: #121318;
}