.section {
    margin: 0;
    padding: 0px 10px;
    height: 100vh;
}

.tomato {
    background-color: #F64747;
}
.blue {
    background-color: #22A7F0;
}
.orange {
    background-color: #F9690E;
}
.purple {
    background-color: #9B59B6;
}
.green {
    background-color: #03C9A9;
}
.yellow {
    background-color: #ffcc00;
}