.admin_sidebar {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #cecece;
  padding: 30px 30px 20px 20px;
  background-color: #141414;
  max-width: 300px;
  width: 100%;
}
.link {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  &:hover {
    color: #cecece;
  }
}