.date_picker {
  background-color: #444;
  width: 100%;
  box-sizing: border-box;
  height: 30px;
  border: none;
  color: #fff;
  padding: 0 15px;
  &::placeholder {
    color: #fff;
  }
}
.thick_datepicker {
  height: 46px;
}
.light-datepicker {
  background-color: #fff;
  border: 1px solid #cecece;
  height: auto;
  padding: 10px 15px;
  color: #000;
  &::placeholder {
    color: #000;
  }
}