.textarea {
  background-color: transparent;
  width: 100%;
  box-sizing: border-box;
  min-height: 46px;
  color: #6C7080;
  border: 1px solid #717579;
  border-radius: 20px;
  padding: 0 20px;
}
.textarea_bordered {
  border: 1px solid #cecece
}
.dark {
  background-color: #121318 !important;
  border: none;
  color: #fff;
  padding: 20px;
}
.textarea_square {
  border-radius: 0 !important;
  background-color: #444 !important;
}
.admin-square {
  border-radius: 0;
}
.textareaTransparent {
  background-color: transparent;
  border-color: #CCCED9;
  border-radius: 5px;
  padding: 20px;
}
.error {
  border-color: tomato;
}

.dark.error {
  border: 1px solid tomato !important;
}