.bg_black {
  background-color: #000;
  color: #fff;
}
.table_header {
  border-bottom: 1px solid #cecece;
}
.promocode_item {
  padding: 10px 0;
  border-bottom: 1px solid #cecece;
}
.current_promocodes {
  max-height: 200px;
  overflow-y: auto;
}