.button-card {
  background-color: rgb(34, 35, 49);
  position: relative;
  margin-bottom: 30px;
  box-sizing: border-box;
  padding: 40px 20px;
  border-radius: 10px;
}

.scrollable-table {
  overflow-x: auto;
  .row {
    min-width: 1200px;
  }
}

.small_scroll {
  @media (max-width: 500px) {
    .row {
      min-width: 1100px;
    }
  }
}

.fixed-height {
  min-height: 300px;
}
.dark {
  background-color: rgb(8, 8, 8);
  color: #fff;
}
.light {
  background-color: #fff;
  color: rgb(8, 8, 8);
}
h2 {
  color: rgb(43, 48, 67);
}
h2.dark {
  color: #fff;
}