.date_picker {
  background-color: #444;
  width: 100%;
  box-sizing: border-box;
  height: 46px;
  border: none;
  color: #fff;
  padding: 0 15px;
  &::placeholder {
    color: #717579;
  }
}
.thick_datepicker {
  height: 66px;
}
.light-datepicker {
  background-color: #fff;
  border: 1px solid #cecece;
  height: auto;
  padding: 10px 15px;
  color: #000;
  &::placeholder {
    color: #000;
  }
}
.user-datepicker {
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  outline: none;
  background-color: transparent;
  color: #fff;
  border: 1px solid #717579;
  border-radius: 20px;
  height: 66px;
}