.chat {
  border: 1px solid #717579;
  border-radius: 30px;
  &_message_area {
    background-color: transparent;
    min-height: 300px;
    max-width: 100%;
    width: 100%;
    border-bottom: 1px solid #717579;
  }
  &_btns_block {
    display: flex;
    width: 100%;
  }
}
