.footer {
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  padding: 20px 50px;
  min-height: 100px;
  background-color: rgb(13, 12, 43);
  @media (max-width: 500px) {
    flex-direction: column;
    height: auto;
    justify-content: flex-start;
    min-height: unset;
  }
}