.footer {
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  padding: 20px 50px;
  min-height: 100px;
  @media (max-width: 500px) {
    flex-direction: column;
    height: auto;
    justify-content: flex-start;
    min-height: unset;
  }
}
.dark.footer {
  background-color: #121318;
  color: #ccced9 !important;
  box-shadow: 0 0 8px 0 rgb(255, 255, 255, 10%);
  * {
    color: #ccced9 !important;
  }
}
.light.footer {
  background-color: #0d0d2b;
  color: #ccced9 !important;
  box-shadow: 0 0 8px 0 rgb(0, 0, 0, 20%);
  * {
    color: #ccced9 !important;
  }
}