.password_match {
  display: none;
  position: absolute;
  box-shadow: 0 2px 5px 2px rgba(0,0,0,.3);
  background-color: #fff;
  z-index: 99;
  padding: 10px;
  font-size: 12px;
  width: 150px;
  bottom: -4px;
  left: -139px;
  border-radius: 5px;
  @media(max-width: 890px) {
    bottom: 60px;
    left: 0;
  }
}
.active {
  display: block;
}
.no_match {
  color: tomato;
}
.match {
  color: green;
}
.dark.password_match {
  background-color: rgb(33,37,41);
}