.landingHeaderLink {
    display: inline-block;
    padding: 0 10px;
    position: relative;
    text-align: center;
    @media (max-width: 1200px) {
        font-weight: bold;
        padding-bottom: 10px;
        font-size: 18px;
    }
    &:after {
        content: '';
        width: 0;
        position: absolute;
        height: 3px;
        bottom: -44px;
        background-color: violet;
        left: 0;
        transition: all 0.2s linear; 
    }
}
.landingHeaderLink:hover {
    color: violet;
}
.landingHeaderLink:hover:after {
    content: '';
    display: block;
    width: 100%;
    transition: all 0.2s linear; 
    @media (max-width: 1200px) {
        display: none;
    }
}

.light {
    color: #121318;
}
.dark {
    color: #fff;
}