.user {
  background-color: #007AFF;
  align-self: end;
  color: #fff;
}


.chat-message {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 20px;
  width: fit-content;
  font-size: 14px;
  font-weight: normal;
  position: relative;
  max-width: 350px;
}
.support {
  background-color: #F2F2F7;
  align-self: baseline;
  color: #000;
}
.chatInput {
  background-color: transparent;
  border: none;
  &:disabled {
    color: #292b3c;
    border-bottom: 1px solid transparent
  }
}

.chat-message.support {
  &:after {
    content: '';
    position: absolute;
    left: -10px; top: 0;
    border: 10px solid transparent;
    border-top: 10px solid #F2F2F7;
  }
}

.chat-message.user {
  &:after {
    content: '';
    position: absolute;
    right: -10px; top: 0;
    border: 10px solid transparent;
    border-top: 10px solid #007AFF;
  }
}
.user-support {
  background-color: tomato;
  align-self: start;
  color: #fff;
}

.chat-message.user-support {
  &:after {
    content: '';
    position: absolute;
    left: -10px; top: 0;
    border: 10px solid transparent;
    border-top: 10px solid tomato;
  }
}

.time {
  text-align: left;
}

.user .time {
  text-align: right;
}