.chat-message {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 20px 0;
}
.support {
  background-color: #8cdbf4;
  align-self: baseline;
}
.user {
  background-color: #524ad0;
  align-self: end;
}
.chatInput {
  background-color: transparent;
  border: none;
  color: #000;
  border-bottom: 1px solid #000;
  &:disabled {
    color: #292b3c;
    border-bottom: 1px solid transparent
  }
}