.users_detail_table_header {
  font-weight: bold;
  @media (max-width: 600px) {
    display: none;
  }
}
.users_detail_table_row {
  border-bottom: 1px solid #cecece;
  padding: 10px 0;
  align-items: center;
  @media (max-width: 600px) {
    flex-direction: column;
  }
}
.users_detail_table_col {
  align-items: center;
}

.break_word {
  word-break: break-word;
  white-space: break-spaces;
  span {
    @media (max-width: 600px) {
      word-break: break-word;
      white-space: pre-wrap;
    }
  }
}

.bg_black {
  background-color: #000;
}
.logs_container {
  max-height: 500px;
  overflow-y: auto;
}
.ip_list {

}

.errors_list_item {
  padding: 10px 0;
  border-bottom: 1px solid #fff;
}