.value-btn {
  border-radius: 5px;
  background-color: #fbfbfb;
  border: 1px solid #ced4da;
  padding: 10px;
  width: 55px;
  transition: all .2s linear;
  min-width: 100px;
  margin-right: 10px;
  max-width: 140px;
  width: 100%;
  margin-bottom: 10px;
}
.trading .value-btn:last-child {
  margin-right: 0;
  max-width: unset;
  width: 100%;
}
.value-btn:last-child {
  margin-right: 0;
}
.trading .value-btn {
  margin-right: 10px;
  max-width: 60px;
  width: 100%;

}
.trading .value-btn:nth-child(3n) {
  margin-right: 0;

}
.value-btn:hover {
  background-color: #f1f1f1;
  transition: all .2s linear;
}