.users_detail_table_header {
  font-weight: bold;
}
.users_detail_table_row {
  border-bottom: 1px solid #cecece;
  padding: 10px 0;
  align-items: center;
}
.users_detail_table_col {
  align-items: center;
}

.bg_black {
  background-color: #000;
}