.form {
    max-width: 800px;
    width: 100%;
    margin: 20px auto;
    padding: 20px 0;
    background-color: transparent;
    color: #121318;
    border-radius: 10px;
}
.form_big {
    max-width: 100%;
}
.form_user {
    margin: 0;
}
.wide-form {
    max-width: 1000px;
    width: 100%;
}
.formFullWidth {
    width: 100%;
    max-width: 100%;
 }

.light {
    background-color: #fff;
    color: #121318;
}
.dark {
    background-color: rgb(8, 8, 8);
    color: #fff;
}