.form {
    max-width: 800px;
    width: 100%;
    margin: 20px auto;
    padding: 20px;
    background-color: transparent;
    color: #fff;
}
.form_big {
    max-width: 100%;
}
.form_user {
    margin: 0;
}