.form {
    max-width: 500px;
    width: 100%;
    border-radius: 5px;
    background-color: #fff;
    margin: 5% auto;
    border: 1px solid #cecece;
    padding: 20px;
    &_big {
        max-width: 100%;
    }
}