.inputWrapper {
  display: flex;
  padding: 5px 20px;
  border: 1px solid #CCCED9;
  border-radius: 5px;
  align-items: center;
  color: #6C7080;
  justify-content: space-between;
}

.inp {
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  outline: none;
  background-color: transparent;
  border: 1px solid #CCCED9;
  color: #6C7080;
  border-radius: 8px;
  transition: all 0.2s linear;
}