.inputWrapper {
  display: flex;
  padding: 20px 0;
  margin: 0;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  outline: none;
  background-color: transparent;
  color: #6C7080;
  transition: all 0.2s linear;
  border-bottom: 1px solid #CCCED9;
}

.inp {
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  outline: none;
  background-color: transparent;
  border: 1px solid #CCCED9;
  color: #6C7080;
  border-radius: 8px;
  transition: all 0.2s linear;
}
.error {
  color: tomato;
  font-size: 12px;
}
.smal_label {
  font-size: 12px;
  color: rgb(108, 112, 128);
  padding: 0;
}
.yourAddress {
  font-size: 12px;
  color: rgb(108, 112, 128);
  padding: 0;
}