.value_box {
  cursor: pointer;
  padding: 20px;
  width: 100%;
  outline: none;
  background-color: transparent;
  color: #fff;
  border: 1px solid #717579;
  border-radius: 30px;
}
.value_list {
  border: 1px solid #717579;
  position: absolute;
  background-color: rgb(34,35,48);
  z-index: 999;
  padding: 5px 10px;
  width: 100%;
  border-radius: 10px;
  li {
    list-style-type: none;
    padding: 5px 10px;
    cursor: pointer;
  }
}
.error {
  color: tomato;
  font-size: 12px;
}