.textarea {
  border: none;
  border-bottom: 1px solid #cecece;
  width: 100%;
  background-color: transparent;
  border-radius: 30px;
  padding: 20px;
}
.textarea_bordered {
  border: 1px solid #cecece
}
.dark {
  background-color: #444;
  border: none;
  color: #fff;
  padding: 20px;
}