.my {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.file-wrap label {
  max-width: fit-content;
  width: 100%;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  color: #fff;
  position: relative;
}
