.dark.table_header {
  padding: 10px 0;
  border-bottom: 1px solid #cecece;
  margin-top: 20px;
  &_item {
    color: #fff;
  }
}
.dark.table_item {
  padding: 20px 0;
  color: #fff;
}

.light.table_header {
  padding: 10px 0;
  margin-top: 20px;
  border-bottom: 1px solid #cecece;
}