.internal_address_card {
  position: relative;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  outline: none;
  background-color: transparent;
  color: #fff;
  border: 1px solid #717579;
  border-radius: 30px;
}