.light.internal_address_card {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  outline: none;
  background-color: transparent;
  color: rgb(108, 112, 128);
  border-radius: 8px;
  transition: all .2s linear;
  margin-bottom: 20px;
  &:hover {
    transform: scale(1.009);
    transition: all .2s linear;
  }
}
.dark.internal_address_card {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  outline: none;
  background-color: transparent;
  color: rgb(108, 112, 128);
  border-radius: 8px;
  transition: all .2s linear;
  margin-bottom: 20px;
  &:hover {
    transform: scale(1.009);
    transition: all .2s linear;
  }
}