.button {
    display: block;
    border-radius: 0.25rem;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    line-height: 11px;
    font-weight: normal;
    position: relative;
    transition: all .2s linear;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    min-width: 140px;
    height: 58px;
}

.btnGray {
    background-color: #F0F1F5;
    color: #0083f8;
    transition: all .2s linear;
    &:hover {
        transition: all .2s linear;
        background-color: #fff;
    }
}
.btnBlue {
    background-color: rgb(83, 103, 254);
    color: #fff;
    transition: all .2s linear;
    &:hover {
        transition: all .2s linear;
        background-color: #8ac8ff;
    }
    @media (max-width: 768px) {
        width: 100%;
    }
}
.btnRed {
    background-color: #DC2626;
    color: #fff;
    transition: all .2s linear;
    &:hover {
        transition: all .2s linear;
        background-color: #F87171;
    }
}
.btnOrange {
    background-color: rgba(255, 158, 24, 0.9);
    color: #fff;
    transition: all .2s linear;
    height: 50px;
    &:hover {
        transition: all .2s linear;
        background-color: rgba(255, 158, 24, 0.4);
    }
}
.btnBordered {
    border: 2px solid rgb(83, 103, 254);
    background-color: transparent;
    transition: all .2s linear;
    &:hover {
        transition: all .2s linear;
        background-color: #fff;
        border-color: transparent;
    }
}

.headerBtn.dark {
    background-color: rgba(255, 255, 255, .1);
    color: #fff;
    &:hover {
        background-color: rgba(0, 0, 0, .1);
    }
}

.btnLink {
    height: 40px;
    color: #0083f8;
    background-color: rgb(227, 243, 255);
    margin: 0 5px;
}
.btnLink.dark {
    background-color: rgba(255, 255, 255, .1);
    color: #fff;
    &:hover {
        background-color: rgba(0, 0, 0, .1);
    }
}

.btnSmall {
    height: 40px;
    font-size: 12px;
    font-weight: bold;
    min-width: 120px;
}
