.account {
  &_row {
    padding: 10px;
    border: 1px solid #717579;
    border-radius: 30px;
    margin-bottom: 30px;
    height: 70px;
    align-items: center;
    @media (max-width: 860px) {
      height: 100px;
    }
  }
}
.premiumHint {
  display: none;
  position: absolute;
  border: 1px solid #fff;
  background-color: #444;
  padding: 10px;
  border-radius: 5px;
  transition: all .3s linear
}
.premiumInfoLine  {
  position: relative;
  cursor: pointer;
}
.premiumInfoLine:hover .premiumHint {
  display: block;
  transition: all .3s linear
}