.radio_btn {
  display: inline-block;
  margin-right: 10px;
}
.radio_btn input[type=radio] {
  display: none;
}
.radio_btn label {
  display: inline-block;
  cursor: pointer;
  padding: 0px 15px;
  line-height: 34px;
  border: 1px solid rgb(83, 103, 254);
  border-radius: 6px;
  user-select: none;
  transition: all .2s linear;
}
.error.radio_btn label {
  border-color: tomato
}

/* Checked */
.radio_btn input[type=radio]:checked + label {
  background-color: rgb(83, 103, 254);
  color: #fff;
  &:hover {
    transition: all .2s linear;
    background-color: rgba(83, 103, 254, .4);
  }
}

/* Hover */
.radio_btn label:hover {
  color: rgba(83, 103, 254, .4);
}

/* Disabled */
.radio_btn input[type=radio]:disabled + label {
  background: #efefef;
  color: #666;
}