.default-select {
  background-color: transparent;
  width: 100%;
  box-sizing: border-box;
  min-height: 46px;
  color: #6C7080;
  border: 1px solid #717579;
  border-radius: 20px;
  padding: 0 20px;
  max-height: 66px;
}

.selectTransparent {
  background-color: transparent;
  border-color: #CCCED9;
  border-radius: 5px;
  height: 50px;
}

.light {
  background-color: #fff;
  border: none;
  color: #000;
  min-width: 150px;
  padding: 20px;
}

.transparent {
  color: #fff;
  background-color: transparent;
  height: 65px;
}
.select-xs {
  min-width: 50px;
  min-height: 20px;
  font-size: 14px;
  padding: 20px 0;
}
.select-s {
  min-width: 50px;
}
.small {
  padding: 5px 10px;
  margin-bottom: 10px;
  min-width: 50px;
  min-height: 30px;
  height: 30px;
}
.narrow_select {
  padding: 0 10px;
}

.select-bordered {
  padding: 0 15px;
  border: 1px solid #cecece;
}

.admin-square {
  border-radius: 0;
  background-color: #444;
  height: 45px;
}

.borderLess {
  padding: 0;
  margin: 0;
  border: none;
}
.user-big {
  height: 66px;
}
.error {
  border-color: tomato
}