.users_info_card {
  background-color: #fff;
  color: #000;
  padding: 30px 20px;
  text-align: center;
}

.blue {
  background-color: lightblue;
}
.green {
  background-color: lightgreen;
}
.red {
  background-color: lightsalmon;
}
.orange {
  background-color: lightyellow;
}