.content-tab.nav-link.active {
  background-color: rgb(83, 103, 254) !important;
}
.content-tab.nav-link {
  color: grey;
}
.history-tab.nav-link {
  color: grey;
}
.history-tab.nav-link.active {
  background-color: rgb(83, 103, 254) !important;
}
