.value_box {
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  outline: none;
  background-color: transparent;
  border: 1px solid #CCCED9;
  color: #6C7080;
  border-radius: 8px;
  transition: all 0.2s linear;
}
.value_list {
  border: 1px solid #CCCED9;
  position: absolute;
  background-color: #fff;
  z-index: 999;
  padding: 5px 10px;
  width: 100%;
  border-radius: 10px;
  li {
    list-style-type: none;
    padding: 5px 10px;
    cursor: pointer;
  }
}
.error {
  color: tomato;
  font-size: 12px;
}
.dark {
  color: #ffffff;
}