@import './src/styles/constants.module.scss';

.button {
    background-color: $colorDarkBlue;
    display: block;
    padding: 12px 20px 11px;
    color: $colorWhite;
    border-radius: 30px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    line-height: 11px;
    font-weight: 700;
    position: relative;
    transition: all .2s linear;
    border: 2px solid $colorDarkBlue;
    cursor: pointer;
    font-family: 'Assistant', sans-serif;
    box-sizing: border-box;
    width: 100%;
    &:hover {
        transition: all .2s linear;
        background-color: #fff;
        color: $colorDarkBlue;
    }
}

.small {
    max-width: 150px;
}

.transparent {
    background-color: transparent;
    color: $colorDarkBlue;
    transition: all .2s linear;
    &:hover {
        background-color: $colorDarkBlue;
        color: #fff;
        transition: all .2s linear;
    }
}
