@import './src/styles/constants.module.scss';

.button {
    background-color: $colorDarkBlue;
    display: block;
    padding: 12px 20px 11px;
    color: $colorWhite;
    border-radius: 30px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    line-height: 11px;
    font-weight: 700;
    position: relative;
    transition: opacity .2s linear 0s;
    border: 2px solid transparent;
    cursor: pointer;
    font-family: 'Assistant', sans-serif;
    box-sizing: border-box;
    width: 100%;
}

.transparent {
    background-color: transparent;
}
