@import './src/styles/constants.module.scss';

.button {
    background-color: $colorDarkBlue;
    display: block;
    padding: 12px 20px 11px;
    color: $colorWhite;
    border-radius: 30px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    line-height: 11px;
    font-weight: 700;
    position: relative;
    transition: all .2s linear;
    border: 2px solid $colorDarkBlue;
    cursor: pointer;
    font-family: 'Assistant', sans-serif;
    box-sizing: border-box;
    width: 100%;
    min-width: 80px;
    height: 46px;
    &:hover {
        transition: all .2s linear;
        background-color: #fff;
        color: $colorDarkBlue;
    }
    &:disabled {
        opacity: .8;
        &:hover {
            background-color: $colorDarkBlue;
            color: #fff;
            cursor: auto;
        }
    }
}

.small {
    max-width: 200px;
    padding: 10px 20px;
}

.transparent {
    background-color: transparent;
    color: $colorDarkBlue;
    transition: all .2s linear;
    &:hover {
        background-color: $colorDarkBlue;
        color: #fff;
        transition: all .2s linear;
    }
}

.green_btn {
    background-color: lightgreen;
    color: #fff;
    border: lightgreen;
}
.red_btn {
    background-color: tomato;
    color: #fff;
    border: tomato;
}
.small_btn {
    max-width: 200px;
}
