.landing_header {
    padding: 30px 80px;
}
@media (max-width: 480px) {
    .landing_header {
        padding: 30px 20px;
    }
}
#light .landing_header {
    background-color: #fff;
}
#dark .landing_header {
    background-color: #121318;
}
.domain_header {
    position: relative;
}
#dark .domain_header {
    margin: 0 10px;
    color: #fff;
    font-weight: bold;
}
#light .domain_header {
    color: #121318;
    font-weight: bold;
}
.domain_header:after {
    content: '';
    width: 2px;
    height: 100%;
    position: absolute;
    right: -35px;
    background-color: #CCCED9;
}