.navbar {
  position: sticky;
  top: 0;
  z-index: 99;
}
.link {
  color: #cecece;
  text-decoration: none;
  padding-right: 20px;
  &:hover {
    color: #524ad0;
  }
}
.right_nav {
  max-width: 600px;
  width: 100%;
}

.navbar_links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  span {
    width: fit-content;
  }
}

.navbar_icon {
  margin: 0 20px;
}