.navbar {
  position: sticky;
  top: 0;
  border-bottom: 1px solid #cecece;
  z-index: 99;
}
.link {
  color: #cecece;
  text-decoration: none;
  padding-right: 20px;
  &:hover {
    color: #03C9A9;
  }
}