@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@400;700&display=swap');
body {
  margin: 0;
  height: 100%;
  font-family: 'Assistant', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  height: 100%;
}
#root {
  height: 100%;
}
h1, h2, h3, h4 {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.row {
  display: flex;
  justify-content: space-between;
}