.wallet-block {
  color: #fff;
  padding: 12px;
  border-radius: 10px;
  width: 100%;
}

.btc {
  background-color: #717579;
}

.eth {
  background-color: #f7ad02;
}

.bch {
  background-color: #3693FF;
}

.up svg {
  color: lightgreen;
}

.down svg{
  color: tomato;
}