.wallet-block {
  color: #fff;
  padding: 12px;
  border-radius: 10px;
  width: 100%;
  max-width: 330px;
}

.btc {
  background-color: #717579;
}

.eth {
  background-color: #f7ad02;
}

.bch {
  background-color: #3693FF;
}
.sol {
  background-color: #00FFA3;
}
.trx {
  background-color: #ff401d;
}

.up svg {
  color: lightgreen;
}

.down svg{
  color: tomato;
}