.chat {
  border: 1px solid #CCCED9;
  border-radius: 8px;
  &_message_area {
    background-color: transparent;
    max-width: 100%;
    width: 100%;
    border-bottom: 1px solid #CCCED9;
    flex-direction: column-reverse;
    display: flex;
    max-height: 400px;
    min-height: 400px;
    height: 100%;
    overflow-y: auto;
  }
  &_btns_block {
    display: flex;
    width: 100%;
  }
}
