.article-text, .article-subtitle, .article-title, .article-list, .terms-style {
  margin-top: 30px;
}
.dark {
  color: #fff;
}
.article-text, .article-subtitle, .article-title, .article-list, .terms-style {
  margin-top: 30px;
}